&lt;component name="ProjectRunConfigurationManager"&gt;
  &lt;configuration default="false" name="app" type="AndroidRunConfigurationType" factoryName="Android App"&gt;
    &lt;module name="Kalamz.app.main" /&gt;
    &lt;option name="DEPLOY" value="true" /&gt;
    &lt;option name="DEPLOY_APK_FROM_BUNDLE" value="false" /&gt;
    &lt;option name="DEPLOY_AS_INSTANT" value="false" /&gt;
    &lt;option name="ARTIFACT_NAME" value="" /&gt;
    &lt;option name="PM_INSTALL_OPTIONS" value="" /&gt;
    &lt;option name="ALL_USERS" value="false" /&gt;
    &lt;option name="ALWAYS_INSTALL_WITH_PM" value="false" /&gt;
    &lt;option name="CLEAR_APP_STORAGE" value="false" /&gt;
    &lt;option name="DYNAMIC_FEATURES_DISABLED_LIST" value="" /&gt;
    &lt;option name="ACTIVITY_EXTRA_FLAGS" value="" /&gt;
    &lt;option name="MODE" value="default_activity" /&gt;
    &lt;option name="CLEAR_LOGCAT" value="false" /&gt;
    &lt;option name="SHOW_LOGCAT_AUTOMATICALLY" value="false" /&gt;
    &lt;option name="INSPECTION_WITHOUT_ACTIVITY_RESTART" value="false" /&gt;
    &lt;option name="TARGET_SELECTION_MODE" value="DEVICE_AND_SNAPSHOT_COMBO_BOX" /&gt;
    &lt;option name="SELECTED_CLOUD_MATRIX_CONFIGURATION_ID" value="-1" /&gt;
    &lt;option name="SELECTED_CLOUD_MATRIX_PROJECT_ID" value="" /&gt;
    &lt;option name="DEBUGGER_TYPE" value="Auto" /&gt;
    &lt;Auto&gt;
      &lt;option name="USE_JAVA_AWARE_DEBUGGER" value="false" /&gt;
      &lt;option name="SHOW_STATIC_VARS" value="true" /&gt;
      &lt;option name="WORKING_DIR" value="" /&gt;
      &lt;option name="TARGET_LOGGING_CHANNELS" value="lldb process:gdb-remote packets" /&gt;
      &lt;option name="SHOW_OPTIMIZED_WARNING" value="true" /&gt;
    &lt;/Auto&gt;
    &lt;Hybrid&gt;
      &lt;option name="USE_JAVA_AWARE_DEBUGGER" value="false" /&gt;
      &lt;option name="SHOW_STATIC_VARS" value="true" /&gt;
      &lt;option name="WORKING_DIR" value="" /&gt;
      &lt;option name="TARGET_LOGGING_CHANNELS" value="lldb process:gdb-remote packets" /&gt;
      &lt;option name="SHOW_OPTIMIZED_WARNING" value="true" /&gt;
    &lt;/Hybrid&gt;
    &lt;Java /&gt;
    &lt;Native&gt;
      &lt;option name="USE_JAVA_AWARE_DEBUGGER" value="false" /&gt;
      &lt;option name="SHOW_STATIC_VARS" value="true" /&gt;
      &lt;option name="WORKING_DIR" value="" /&gt;
      &lt;option name="TARGET_LOGGING_CHANNELS" value="lldb process:gdb-remote packets" /&gt;
      &lt;option name="SHOW_OPTIMIZED_WARNING" value="true" /&gt;
    &lt;/Native&gt;
    &lt;Profilers&gt;
      &lt;option name="ADVANCED_PROFILING_ENABLED" value="false" /&gt;
      &lt;option name="STARTUP_PROFILING_ENABLED" value="false" /&gt;
      &lt;option name="STARTUP_CPU_PROFILING_ENABLED" value="false" /&gt;
      &lt;option name="STARTUP_CPU_PROFILING_CONFIGURATION_NAME" value="Java/Kotlin Method Sample (legacy)" /&gt;
      &lt;option name="STARTUP_NATIVE_MEMORY_PROFILING_ENABLED" value="false" /&gt;
      &lt;option name="NATIVE_MEMORY_SAMPLE_RATE_BYTES" value="2048" /&gt;
    &lt;/Profilers&gt;
    &lt;option name="DEEP_LINK" value="" /&gt;
    &lt;option name="ACTIVITY_CLASS" value="com.example.kalamz.MainActivity" /&gt;
    &lt;option name="SEARCH_ACTIVITY_IN_GLOBAL_SCOPE" value="false" /&gt;
    &lt;option name="SKIP_ACTIVITY_VALIDATION" value="false" /&gt;
    &lt;method v="2"&gt;
      &lt;option name="Android.Gradle.BeforeRunTask" enabled="true" /&gt;
    &lt;/method&gt;
  &lt;/configuration&gt;
&lt;/component&gt;
